.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.Header {
  color: blue;
  text-shadow: 1px 1px 5px black;
}
/* write your parent styles in here for your App.js */
